.image-container {
    /* align-items: center; */
    display: flex;
    justify-content: center;
    margin-top: 40px;
  }
  .img-logofondo {
    width: 950px; 
    height: auto; 
    object-fit: cover; 
    border-radius: 10px;
}
   
  .parent-container {
    display: block;
    justify-content: center;
    align-items: center;
  }

  .info-text {

    text-align: left; /* Centra el texto */
    margin-top: -70px; /* Añade un margen superior para separar el texto de la imagen */
    padding: 100px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #333;
  }