.services {
    background-color: transparent;
    padding: 40px;
    text-align: center;
  }
  
  .services h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  .services-list {
    display: flex;
    justify-content: center;
  }